@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/*nullstyle*/
* {
   padding: 0;
   margin: 0;
   border: 0;
}

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
boody {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}

/* main style */
body {
   background: linear-gradient(#000, #7ec0b7);
}

.modalwindow {
   width: 900px;
   height: 550px;
   top: calc(50% - 550px/2);
   left: calc(50% - 900px/2);
   position: fixed;
   display: flex;
   justify-content: center;
}

.leftwindow {
   width: 50%;
   background-image: url(img/gears.png), linear-gradient(#9ae1cb, #71b4a8);
   background-size: 100%;
   background-position: bottom;
   background-repeat: no-repeat;
   border-radius: 10px 0 0 10px;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
}

.logo {
   width: 40px;
   height: 45px;
   position: absolute;
   top: 10px;
   left: 10px;
}

.left__content {
   position: absolute;
   color: white;
   font-family: Raleway;
   text-align: center;
}

.left__title {
   font-size: 50px;
   text-transform: uppercase;
   border-top: solid 3px white;
   border-bottom: solid 3px white;
   display: inline-block;
   margin-top: -15px;
}

.left__description {
   margin: 25px 5px;
   font-size: 16px;
   padding: 0 25px;
}

.gears {
   width: 100%;
   bottom: 50%;
}

.rightwindow {
   width: 50%;
   background: linear-gradient(to top right, #31353d, #636a7b);
   border-radius: 0 10px 10px 0;
   display: flex;
   justify-content: center;
   font-family: Raleway;
   font-size: 18px;
   color: #a7a7a7;
   padding: 80px 0 0 15px;
}

.tab-content,
.nav-tabs {
   border-width: 0;
   width: 90%;
   margin: 0 auto;

}

#login-tab,
#sign-tab {
   background-color: transparent;
   border: none;
   font-size: 20px;
   color: #979797;
}

#login-tab.active,
#sign-tab.active {
   color: #cacaca;
   display: block;
   border-bottom: 2px solid #7ec0b7;
}

.forms {
   width: 80%;
}

input[type="text"],
input[type="password"] {
   height: 30px;
   font-size: 16px;
   background-color: transparent;
   border: none;
   border-bottom: 2px solid #5d6372;
   outline: none;
   color: #a7a7a7;
   margin-top: 36px;
}

.remember {
   margin-top: 22px;
   display: block;
   position: relative;
   padding-left: 35px;
   cursor: pointer;
   font-size: 18px;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   color: #666;
}

/* скрываем дефолтный флажок */
.remember .check-highload {
   position: absolute;
   opacity: 0;
}

/* Создаем кастомный checkbox */
.highload2 {
   position: absolute;
   top: 5px;
   left: 10px;
   height: 15px;
   width: 15px;
   background-color: transparent;
   border: 2px solid grey;
}

/* При наведении указателя мыши перекрашиваем */
.remember:hover .check-highload~.highload2 {
   background-color: transparent;
}

/* Когда отмечен, то красим в зеленый цвет */
.remember .check-highload:checked~.highload2 {
   background-color: transparent;
}

/* Создаем когда отмечено (не видно, когда не отмечено) */
.highload2:after {
   content: "";
   position: absolute;
   display: none;
}

/* Показываем когда отмечен */
.remember .check-highload:checked~.highload2:after {
   display: block;
}

/* Стили индикатора */
.remember .highload2:after {
   left: 4px;
   top: -7px;
   width: 10px;
   height: 15px;
   border: solid #92d8c5;
   border-width: 0 3px 3px 0;
   transform: rotate(45deg);
}

.button {
   width: 110px;
   height: 30px;
   background-color: #91d7c5;
   border-radius: 15px;
   color: white;
   font-size: 15px;
}

#signup {
   margin-top: 25px;
}

.button:hover {
   background-color: #21c49b;
}

.forgot {
   color: #cbcbcb;
   display: inline-block;
   border-bottom: 3px solid #83c7ba;
   margin-top: 18px;
   font-size: 16px;
   position: relative;
   left: -10px;
}

.arrow {
   width: 15px;
   height: 15px;
   position: relative;
   top: 22px;
   right: 10px;
}

@media (min-width: 768px) and (max-width: 1024px) {

   /* TABLET */
   .modalwindow {
      width: 450px;
      height: 275px;
      top: calc(50% - 275px/2);
      left: calc(50% - 450px/2);
   }

   .leftwindow {
      border-radius: 10px 0 0 10px;
   }

   .logo {
      width: 20px;
      height: 22px;
      position: absolute;
      top: 5px;
      left: 5px;
   }

   .left__title {
      font-size: 25px;
      border-top: solid 2px white;
      border-bottom: solid 2px white;
      margin-top: -7px;
   }

   .left__description {
      margin: 12px 3px;
      font-size: 8px;
      padding: 0 12px;
   }

   .rightwindow {
      border-radius: 0 5px 5px 0;
      font-size: 9px;
      padding: 40px 0 0 8px;
   }

   #login-tab,
   #sign-tab {
      font-size: 10px;
   }

   input[type="text"],
   input[type="password"] {
      height: 15px;
      font-size: 8px;
      margin-top: 18px;
   }

   .remember {
      margin-top: 11px;
      padding-left: 18px;
      font-size: 9px;
   }

   .highload2 {
      top: 3px;
      left: 5px;
      height: 8px;
      width: 8px;
   }

   .remember .highload2:after {
      left: 2px;
      top: -4px;
      width: 5px;
      height: 8px;
      border-width: 0 2px 2px 0;
   }

   .button {
      width: 55px;
      height: 15px;
      border-radius: 8px;
      font-size: 8px;
   }

   #signup {
      margin-top: 12px;
   }

   .forgot {
      border-bottom: 2px solid #83c7ba;
      margin-top: 9px;
      font-size: 8px;
      left: -5px;
   }

   .arrow {
      width: 8px;
      height: 8px;
      top: 11px;
      right: 5px;
   }
}

@media (max-width: 767px) {

   /* MOBILE */
   .modalwindow {
      width: 90%;
      height: 100%;
      top: 10%;
      left: 5%;
      flex-direction: column;
   }

   .leftwindow {
      width: 100%;
      background: linear-gradient(#9ae1cb, #71b4a8);
      border-radius: 10px 0 0 10px;
   }

   .logo {
      display: none;
   }

   .left__content {
      position: relative;
      height: 100%;
   }

   .left__title {
      margin-top: 30px;
   }

   .rightwindow {
      width: 100%;
      padding: 50px 0 40px 15px;
   }
}